@import "tailwindcss";

@theme {
  --color-grey-200: #D8D8D8;

  --color-blue-100: #E5EAF1;
  --color-blue-50: #F6FAFF;

  --font-alata: "Alata", Arial, sans-serif;
  --font-josefin: "Josefin Sans", Arial, sans-serif;
  --text-base: 15px;
  --leading-base: 165%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Alata", Arial, sans-serif;
  scrollbar-gutter: stable;
}